/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

&default_transform_left {
    compatible = "zmk,matrix-transform";
    col-offset = <0>;
    rows = <1>;
    columns = <18>;
};